
.faq-container {
  background-image: url('https://media.istockphoto.com/id/1301477619/vector/abstract-minimal-hand-painted-pattern.jpg?s=612x612&w=0&k=20&c=ugue1WqvN7KGq-RDcxMoVww0GaweYMaChjhcgmITSGw=');
  background-size: cover;
  background-position: center;
}
.faq-container {
  padding: 50px;
}
.faq-item {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.faq-item:hover {
  transform: translateY(-5px);
}
.faq-box {
  padding: 20px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
