/* Home.css */

/* Styles for Home Container */
.home-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align items horizontally */
  }
  
  /* Styles for Quick-Quiz Section */
  .assessment-section {
    padding: 20px 0; /* Add padding */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
    flex-direction: column; /* Stack items vertically */
  }
  
  /* Styles for Assessment Button */
  .assessment-button {
    margin-top: 20px; /* Add margin to separate button from heading */
    align-self: center; /* Center button horizontally within its container */
  }
  
  /* Styles for Mood Tracker Section */
  .mood-tracker-section {
    padding: 20px 0; /* Add padding */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
    flex-direction: column; /* Stack items vertically */
  }
  
  /* Styles for Mood Options */
  .mood-options {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align buttons horizontally */
    margin-top: 20px; /* Add margin */
  }
  
  /* Styles for Mood Option Buttons */
  .mood-option {
    font-size: 24px; /* Set font size */
    margin: 0 10px; /* Add margin between buttons */
    cursor: pointer; /* Set cursor to pointer */
    border: none; /* Remove default button border */
    background-color: transparent; /* Set background color to transparent */
  }
  
  /* Styles for Selected Mood Option */
  .selected {
    border: 2px solid #007bff; /* Add border to indicate selection */
  }
  