.bg-body-tertiary {
    background-color: #f0f0f0; 
}

/* Styles for Logo */
.logo-img {
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-left: 80px; /* Add margin to the right of the logo */
}

.navbar-brand .inner-balance {
    margin-right: 350px; /* Adjust the value as needed */
  }
  


/* Styles for Register/Login Button */
.btn-outline-success {
    color: #000; /* Set text color */
    border-color: #000; /* Set border color */
}

/* Styles for Navbar Links and Dropdown */

.dropdown-item {
    color: #000; /* Set text color */
    text-decoration: none; /* Remove default link underline */
    margin-right: 10px;

}

/* Styles for Navbar Links and Dropdown on Hover */

.dropdown-item:hover {
    color: #333; /* Set text color on hover */
}

/* Styles for Navbar Dropdown Menu */
.dropdown-menu {
    background-color: #f0f0f0; 
}

/* Styles for Navbar Dropdown Menu Items */
.dropdown-item {
    color: #000; /* Set text color */
}

/* Styles for Navbar Dropdown Menu Items on Hover */
.dropdown-item:hover {
    background-color: #e3e3e3; 
}

 /* Styles for Navbar Links */
.navbar-nav .nav-link {
    margin-right: 35px; 
}
    

.nav-link {
    color: #000 !important; /* Set text color */
    text-decoration: none; /* Remove default link underline */
    margin-right: 15px; /* Add margin between navbar links */
  
}

.nav-link:hover {
    color: #333 !important; /* Set text color on hover */
}


.me-auto {
    margin-left: 0; /* Reset margin */
    margin-right: auto; /* Shift navbar links to the left */
}
